In [ ]:
import pandas as pd

In [ ]:
url = "https://raw.githubusercontent.com/dhamvi01/Univariate-Time-Series-using-LSTM/master/airline-passengers.csv"
data = pd.read_csv(url)
data.head(5)

     Month  Passengers
0  1949-01         112
1  1949-02         118
2  1949-03         132
3  1949-04         129
4  1949-05         121

In [ ]:
from pandas import DataFrame
data = DataFrame()
data['t'] = [x for x in range(5)]
data['t-1'] = data['t'].shift(1)
print(data)

   t  t-1
0  0  NaN
1  1  0.0
2  2  1.0
3  3  2.0
4  4  3.0